@use "../utilities/responsive";

@forward "home";
@forward "page";
@forward "single";
@forward "contact";

.container {
  min-height: 100vh;
  margin: 0;
  font-size: 1.25rem;
  color: var(--color-dark);
  background: var(--color-light);
  display: grid;
  grid-template-columns: 15rem 1fr;

  @include responsive.max(680px) {
    grid-template-columns: 5rem 1fr;
  }
}

.main {
  display: grid;
  grid-template-columns: minmax(32px, 1fr) minmax(0, 80rem) minmax(32px, 1fr);

  &__inner {
    grid-column: 2/3;
  }
  .main__title {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  &__box-container {
    gap: 2rem;

    .main__box-card {
      background: rgb(8, 19, 41);
      background: linear-gradient(
        175deg,
        rgba(8, 19, 41, 1) 0%,
        rgba(28, 66, 143, 1) 100%
      );
      color: #fcfcfc;
      border-radius: var(--border-radius);
      padding: 1rem 2rem;
      flex: 1;

      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .main__box-content,
      .main__box-title,
      .main__box-subheader {
        color: #fcfcfc;
      }

      p {
        margin-bottom: 0;
        font-size: 13px;
      }

      .main__box-title {
        margin-bottom: 2rem;
      }
    }

    .main__box-rows-1 {
      display: grid;

      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
    }

    .sammanfattning,
    .trender {
      grid-column: span 6;
    }

    .instagram,
    .facebook,
    .linkedin {
      grid-column: span 4;
    }

    .enheter {
      grid-column: span 8;
    }

    .geo {
      grid-column: span 4;
    }

    // Enheter
    .enheter__container {
      display: flex;
      gap: 8rem;
    }
    .dator,
    .mobil {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .dator {
      border-right: 1px solid #fcfcfc54;
      padding-right: 6rem;
    }
  }
}
