@use "../utilities/responsive";

@forward "home";
@forward "page";
@forward "single";
@forward "contact";

.container {
  min-height: 100vh;
  margin: 0;
  font-size: 1.25rem;
  color: var(--color-dark);
  background: var(--color-light);
  display: grid;
  grid-template-columns: 15rem 1fr;

  @include responsive.max(680px) {
    grid-template-columns: 5rem 1fr;
  }
}

.main {
  display: grid;
  grid-template-columns: minmax(32px, 1fr) minmax(0, 80rem) minmax(32px, 1fr);

  &__inner {
    grid-column: 2/3;
  }
  .main__title {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  &__box-subheader {
    margin-top: 2rem;
    margin-bottom: -0.5rem;
    @include responsive.max(1100px) {
      font-size: 0.8rem !important;
    }
  }

  &__box-text {
    opacity: 50%;

    @include responsive.max(1100px) {
      font-size: 0.6rem !important;
    }
  }

  &__box-container {
    gap: 2rem;

    .main__box-card {
      background: rgb(8, 19, 41);
      background: linear-gradient(
        175deg,
        rgba(8, 19, 41, 1) 0%,
        rgba(28, 66, 143, 1) 100%
      );
      color: #fcfcfc;
      border-radius: var(--border-radius);
      padding: 1rem 2rem;
      flex: 1;

      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .main__box-content,
      .main__box-title,
      .main__box-subheader {
        color: #fcfcfc;
      }

      p {
        margin-bottom: 0rem;
        font-size: 13px;
      }

      .main__box-title {
        margin-bottom: 2rem;
      }
    }

    .main__box-rows {
      display: grid;

      grid-template-columns: repeat(12, 1fr);
      gap: 2rem;
    }

    .sammanfattning,
    .sammanfattning-trender {
      grid-column: span 4;
    }

    .instagram,
    .facebook,
    .linkedin {
      grid-column: span 4;
    }

    .sammanfattning-enheter,
    .sammanfattning-geo {
      grid-column: span 8;

      // .main__box-text {
      //   padding-top: 0.2rem;
      // }
    }

    .sammanfattning-enheter {
      .main__box-text {
        padding-top: 2.4rem;
      }
    }

    .sammanfattning-geo {
      .main__box-text {
        padding-top: 0.1rem;
      }
    }

    // Enheter
    .enheter__container {
      display: flex;
      gap: 8rem;
      align-items: center;
      @include responsive.max(680px) {
        flex-direction: column;
        gap: 0rem;
        padding: 0;

        align-items: center;
        margin: 0 auto;
        .sammanfattning-dator {
          border: none;
          padding: 0 !important;

          margin: 0;
        }

        .sammanfattning-mobil {
          padding: 0 !important;
          margin: 1rem 0 2rem !important;
        }
      }
    }
  }

  @include responsive.max(900px) {
    .main__box-rows {
      grid-template-columns: 1fr;

      .instagram,
      .facebook,
      .linkedin,
      .sammanfattning-trender,
      .sammanfattning,
      .sammanfattning-enheter,
      .sammanfattning-geo {
        grid-column: 1 / -1;
      }
    }
  }

  @include responsive.max(680px) {
    .main__title {
      font-size: var(--font-size-4);
    }
  }
}

//STYLING

#total-linkedin,
#total-instagram,
#total-facebook {
  color: var(--color-primary);
  position: relative;

  @include responsive.max(1100px) {
    font-size: var(--font-size-4);
  }
  &::after {
    content: "";
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-left: 0.5rem;
    position: absolute;
    bottom: 12px;
    background-image: url("/assets/icons/trend-up.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include responsive.max(1100px) {
      width: 36px;
      height: 36px;
      margin-left: 0.2rem;
      position: absolute;
      bottom: 10px;
    }

    @include responsive.max(500px) {
      width: 36px;
      height: 36px;
      margin-left: 0.2rem;
      position: absolute;
      bottom: 10px;
    }
  }
}

.sammanfattning,
.sammanfattning-trender {
  .main__box-content {
    padding: 0 0 2rem 0;
    margin: 0 auto;
  }

  @include responsive.max(1200px) {
    .main__box-content {
      font-size: 1rem !important;
    }
  }

  @include responsive.max(900px) {
    .main__box-content {
      font-size: var(--font-size-3) !important;
    }
  }

  @include responsive.max(480px) {
    .main__box-content {
      font-size: var(--font-size-2) !important;
    }
  }
}

.sammanfattning-dator {
  position: relative;
  margin-left: 4.5rem;
  border-right: 1px solid #fcfcfc54;

  margin-top: 1rem;

  padding-right: 6rem;

  color: var(--color-complementary);
  font-size: var(--font-size-3);
  font-weight: 600;

  &::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 48px;
    margin-left: 8px;
    position: absolute;

    left: -5rem;
    background-image: url("/assets/icons/desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
    position: absolute;
    bottom: 8px;
    background-image: url("/assets/icons/trend-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @include responsive.max(1400px) {
    padding-right: 8rem !important;
    font-size: var(--font-size-2);
    padding-right: 5rem !important;

    margin-left: 3.5rem;

    &::before {
      margin-left: 1.5rem;
      bottom: -8px;
    }

    &::after {
      margin-left: 0.5rem;
      bottom: 4px;
      height: 26px;
    }
  }

  @include responsive.max(1200px) {
    padding-right: 3.5rem !important;
    margin-left: 0rem !important;
    font-size: 1.2rem;

    p {
      margin: 0;
      padding: 0;
    }

    &::before {
      display: none;
    }

    &::after {
      margin-left: 0.2rem;
      width: 25px;
      height: 25px;
    }
  }

  @include responsive.max(680px) {
    &::after {
      margin-left: 0.5rem;
      width: 20px;
      height: 20px;
    }
  }

  @include responsive.max(500px) {
    font-size: var(--font-size-1) !important;

    &::after {
      display: none;
    }
  }
}

//Mobil

.sammanfattning-mobil {
  position: relative;
  margin-top: 1rem;
  color: var(--color-primary) !important;
  font-size: var(--font-size-3);
  font-weight: 600;

  &::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 42px;
    margin-left: 8px;
    position: absolute;

    left: -4.5rem;
    background-image: url("/assets/icons/iphone.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
    bottom: 6px;
    position: absolute;

    background-image: url("/assets/icons/trend-up.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @include responsive.max(1400px) {
    margin-left: -1rem;
    font-size: var(--font-size-2);
    margin-left: -2rem;

    &::before {
      margin-left: 1rem;
    }

    &::after {
      margin-left: 0.5rem;
      bottom: 1px;
      height: 26px;
    }
  }

  @include responsive.max(1200px) {
    margin-left: -6.5rem;

    font-size: 1.2rem;

    &::before {
      display: none;
    }

    &::after {
      margin-left: 0.2rem;
      width: 25px;
      height: 25px;
    }
  }

  @include responsive.max(500px) {
    padding-right: 3.5rem !important;

    font-size: var(--font-size-1) !important;

    &::after {
      display: none;
    }
  }
}

//Trender

#sammanfattning-trender {
  color: var(--color-primary) !important;

  position: relative;
}

//Geo

.sammanfattning-geo {
  position: relative;

  .submain__box-content {
    margin-bottom: 2rem;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 150px;
    height: 200px;
    border-radius: var(--border-radius-big);

    position: absolute;

    top: 20px;
    right: 30px;
    background-image: url("/assets/images/map.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @include responsive.max(1100px) {
    &::after {
      width: 120px;
      height: 180px;
      top: 35px;
    }
  }

  @include responsive.max(680px) {
    .main__box-content {
      text-align: center;
      font-size: var(--font-size-2) !important;
    }
    &::after {
      display: none;
    }
  }

  @include responsive.max(500px) {
    .main__box-content {
      font-size: var(--font-size-1) !important;
    }
  }
}
